version: '3.8'

services:
  # ======= FRONTEND ========
  frontend:
    container_name: frontend
    build: ./frontend-src
    ports:
      - "8080:80"
    networks:
      - frontend_net
      - keycloak_net

  # ======= POSTGRES（Keycloak + Kong 共用）=======
  db:
    container_name: database
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      # Password 自行設定
      POSTGRES_PASSWORD: ${KEYCLOAK_DB_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - keycloak_net

  # ======= KEYCLOAK ========
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:latest
    command: start-dev --proxy-headers=xforwarded
    environment:
      # User/Password 自行設定
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KEYCLOAK_ADMIN_USERNAME:-admin}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}

      - KC_PROXY=edge
      - KC_HTTP_RELATIVE_PATH=/keycloak

      # Domain 自行設定
      - KC_HOSTNAME=${ZTA_DOMAIN}
      - KC_HOSTNAME_PATH=/keycloak

      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://db:5432/keycloak
      - KC_DB_USERNAME=keycloak

      # Password 自行設定
      - KC_DB_PASSWORD=mypassword
    ports:
      - "8081:8080"
    volumes:
      - ./keycloak-data:/opt/keycloak/data
    networks:
      - keycloak_net

  # ======= KONG DB ========
  kong-database:
    container_name: kong-database
    image: postgres:13
    environment:

      # User/DB/Password 自行設定
      POSTGRES_USER: ${KONG_PG_USER}
      POSTGRES_DB: ${KONG_PG_DATABASE}
      POSTGRES_PASSWORD: ${KONG_PG_PASSWORD}

    volumes:
      - kong_data:/var/lib/postgresql/data
    networks:
      - kong_net

  # ======= KONG GATEWAY ========
  kong:
    container_name: kong
    image: kong:3.6
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database

      # User/Password自行設定
      KONG_PG_USER: ${KONG_PG_USER}
      KONG_PG_PASSWORD: ${KONG_PG_PASSWORD}

      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001, 0.0.0.0:8444
      
      #  新增：告訴 Kong 從哪裡讀取宣告式設定檔
      KONG_DECLARATIVE_CONFIG: /etc/kong/kong.yml
      #  新增：確保 Kong 啟動時會將 yml 檔案的變更同步到資料庫
      KONG_DB_UPDATE_PROPAGATION: "on"
    depends_on:
      - kong-database
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
    #  新增：建立的 kong.yml 掛載到容器中
    volumes:
      - ./kong.yml:/etc/kong/kong.yml:ro
    networks:
      - kong_net
      - keycloak_net
      - frontend_net

  # ======= EXPRESS API ========
  api:
    container_name: api
    build: ./api
    environment:
      # 自行設定
      - JWT_SECRET=${JWT_SECRET}

      # 自行設定，原先為真實 domain
      - PUBLIC_URL=https://${ZTA_DOMAIN}/api
    volumes:

      # 自行設定，原先為 VM 上的絕對路徑（含帳號資料夾名稱）
      - ${NAS_PATH:-./NAS}:/app/uploads
      - ./migrations:/app/migrations  #  掛載 migrations
    networks:
      - kong_net
      - keycloak_net
      - frontend_net

  # ======= ELASTICSEARCH(官方分布式搜索和分析引擎) ========
  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=true

      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca/ca.crt
      - xpack.security.transport.ssl.certificate=/usr/share/elasticsearch/config/certs/elasticsearch/elasticsearch.crt
      - xpack.security.transport.ssl.key=/usr/share/elasticsearch/config/certs/elasticsearch/elasticsearch.key

      - xpack.security.http.ssl.enabled=true
      - xpack.security.http.ssl.certificate_authorities=/usr/share/elasticsearch/config/certs/ca/ca.crt
      - xpack.security.http.ssl.certificate=/usr/share/elasticsearch/config/certs/elasticsearch/elasticsearch.crt
      - xpack.security.http.ssl.key=/usr/share/elasticsearch/config/certs/elasticsearch/elasticsearch.key

      #- xpack.security.enrollment.enabled=true
      #- xpack.security.authc.token.enabled=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - /opt/elk/certs:/usr/share/elasticsearch/config/certs:ro
      - /opt/elk/elasticsearch/elasticsearch:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    networks:
      - elk_net

  # ======= LOGSTASH(輕量級伺服器端資料處理管道) ========
  logstash:
    container_name: logstash
    image: docker.elastic.co/logstash/logstash:8.12.2
    environment:
      - xpack.monitoring.enabled=true
      - xpack.monitoring.elasticsearch.hosts=["https://elasticsearch:9200"]
      - xpack.monitoring.elasticsearch.ssl.certificate_authority="/usr/share/logstash/config/certs/ca.crt"
      - xpack.monitoring.elasticsearch.username="logstash_system"

      # 自行設定 Password
      - xpack.monitoring.elasticsearch.password="${ELK_PASSWORD}"

      #- ELASTICSEARCH_HOSTS=https://elasticsearch:9200
      #- ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/logstash/config/certs/ca/ca.crt
      #- ELASTICSEARCH_USERNAME=logstash_system
      #- ELASTICSEARCH_PASSWORD=admin67324
    volumes:
    - /opt/elk/logstash:/usr/share/logstash/pipeline:ro
    - /opt/elk/certs:/usr/share/logstash/config/certs:ro
    depends_on:
      - elasticsearch
    ports:
      - "5044:5044"
    networks:
      - elk_net

  # ======= KIBANA ========
  kibana:
    container_name: kibana
    image: docker.elastic.co/kibana/kibana:8.12.2
    environment:
      - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
      - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=/usr/share/kibana/config/certs/ca/ca.crt
      - ELASTICSEARCH_USERNAME=kibana_system

      # 自行設定 Password
      - ELASTICSEARCH_PASSWORD=${ELK_PASSWORD}

      - xpack.security.enabled=true
      - SERVER_BASEPATH=/kibana
      - SERVER_REWRITEBASEPATH=true

      # 自行設定，原先為的真實 domain
      - SERVER_PUBLICBASEURL=https://${ZTA_DOMAIN}/kibana

      #- server.port=5601
      #- server.host=localhost
    volumes:
      - /opt/elk/certs:/usr/share/kibana/config/certs:ro
      - /opt/elk/kibana/kibana.yml:/usr/share/kibana/config/kibana.yml:ro
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - elk_net

  # ======= filebeat(輕量級日誌傳送工具) =======
  filebeat:
    container_name: filebeat
    image: docker.elastic.co/beats/filebeat:8.12.2
    user: root
    depends_on:
      - logstash
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /opt/elk/filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
      - /opt/elk/filebeat/filebeat:/usr/share/filebeat/data
      - /opt/elk/certs:/usr/share/filebeat/config/certs:ro
    networks:
      - elk_net

  # ======= WAF =======
  waf:
    container_name: waf
    image: owasp/modsecurity:nginx
    ports:
      - "9001:9001"
    networks:
      - frontend_net 
      - elk_net

  # ======= REDIS(測試用) =======
  redis:
    container_name: redis
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - frontend_net
  # ======= OPA(動態決策引擎) =======
  # 未在專題中實作出 (OPA用於集中化所有的決策，但我們將決策功能分散於其餘容器中)
  opa:
    container_name: opa
    image: openpolicyagent/opa:latest
    command:
      - "run"
      - "--server"
      - "--addr=:8181"
      - "--set=decision_logs.console=true"

      - "/usr/share/opt/policies"

      - "/usr/share/opt/policies/data.json"
    ports: 
      - "8181:8181"
    volumes:
      - /opt/opa/policies:/usr/share/opt/policies:ro
      - /opt/opa/policies/data.json:/usr/share/opt//policiesdata.json:ro
      - /opt/opa/config/opa.yml:/usr/share/opt/opa.yml:ro
networks:
  frontend_net:
  keycloak_net:
  kong_net:
  elk_net:

volumes:
  kong_data:
